<script src="../static/plugins/jquery/jquery-1.12.2.js"></script>
<div>
    <input type="text" id="music_name"/>  <input type="text" id="music_count"/>
    <input type="button" onclick="get_music_list()" value="搜索"/>

</div>
<br>
<h2>搜索列表</h2>

<div >
    <li id="song_list">
        <ul><div><span>歌名</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>歌手</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>操作</span></div></ul>
    </li>
</div>
<script>
    function get_music_list(){
        var name = $("#music_name").val();
        var music_count = $("#music_count").val();
        $.get("/music/list?name="+name+"&count="+music_count,function (mlist) {
            console.log(mlist);
            // var songlist = mlist['data']['song']['list'];
            $("#song_list").empty();
             var htl = "<ul><div><span>歌名</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>歌手"+
                    "</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>操作</span></div></ul>";
                $("#song_list").append(htl);
            for(var i =0;i<mlist.length;i++){
                var song = mlist[i];
                var name = song['songname'];
                var singer = song['singer'];
                var link = song['link'];
                var htl = "<ul><div><span>"+name+"</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>"+singer+
                    "</span>&nbsp;&nbsp;&nbsp;&nbsp;<span><a target='_blank' href='"+link+
                    "'>下载</a></span></div></ul>";
                $("#song_list").append(htl);
            }

        })
    }

</script>